---
import "@/styles/index.css";

import { Image } from "astro:assets";

import Accent from "@/components/Accent.svelte";
import Heading from "@/components/Heading.astro";
import Icon from "@/components/Icon.astro";
import Cat from "@/components/index/Cat.svelte";
import CurrentSong from "@/components/index/CurrentSong.svelte";
import Donation from "@/components/index/Donation.svelte";
import {
    DISCORD_ID,
    HOMESERVER,
    REPO_URL,
    SIGNAL_URL,
    USERNAMES,
} from "@/consts";
import head from "@/content/images/head.png";
import Layout from "@/Layout.astro";

export const prerender = true;
---

<Layout class="*:flex *:flex-col gap-4 *:gap-2">
    <div class="!flex-row items-center !gap-4">
        <Accent client:only="svelte">
            <h1 class="cursor-pointer select-none title">
                {Astro.site!.host}
            </h1>
        </Accent>
        <Cat client:only="svelte" />
    </div>

    <div>
        <Heading slug={false}>Welcome to my website</Heading>
        <p>
            Hey there! The name's newt, and I'm an avid software engineer,
            computer scientist, and system administrator. I'm currently working
            towards a BSc in Computing Science.
        </p>

        <p>
            I'm currently working on
            <span class="font-medium text-mauve">amethyst</span>, the next
            generation of game server hosting. We're a small team with big
            amibitions - if you feel you've got something to bring to the table,
            or just want to find out more, we want to hear from you. No resumes
            or CVs, just <a href="#contact">reach out</a>.
        </p>

        <p>
            I like to share my experiences and opinions on my
            <a href="/blog">blog</a>. In the future, I will share further
            details about
            <span class="font-medium text-mauve">amethyst</span> and my experiences
            running a business.
        </p>

        <p>
            I host a bunch of services off of my home server @
            <a href={`https://${HOMESERVER}`}>redstone.observer</a> including my
            own GitLab instance. You can find the source to this website on
            <a href=`https://git.${HOMESERVER}`>git.redstone.observer</a> @
            <a href={REPO_URL}>newt/website</a>.

            <ul class="*:flex *:items-center *:gap-2 my-2 *:mb-1 select-none">
                <li>
                    <Icon
                        name="mdi:spotify"
                        class="hidden md:block flex-none text-2xl"
                    />
                    <span class="stat">
                        <Image
                            src={head}
                            alt="newt's Minecraft head"
                            class="animate-spin"
                            id="songImg"
                            height={24}
                            width={24}
                            loading="lazy"
                        />
                        <CurrentSong client:load />
                    </span>
                </li>
                <li>
                    <Icon
                        name="simple-icons:kofi"
                        class="hidden md:block flex-none text-2xl"
                    />
                    <span class="stat">
                        <Image
                            src={head}
                            alt="newt's Minecraft head"
                            class="animate-spin"
                            id="donationImg"
                            height={24}
                            width={24}
                            loading="lazy"
                        />
                        <Donation client:load />
                    </span>
                </li>
            </ul>
        </p>
        <div>
            <Heading slug="contact">Get in touch</Heading>
            <p>
                I will respond quickest on
                <Icon
                    name="ic:baseline-discord"
                    class="inline-block hover:text-mauve"
                />, but you can reach me through any of the following:
            </p>
            <ul class="mt-2 *:mb-1">
                <li>
                    <Icon name="ic:baseline-discord" class="hover:text-mauve" />
                    <a
                        href={`https://discord.com/users/${DISCORD_ID}`}
                        class="text-text"
                    >
                        {USERNAMES.DISCORD}
                    </a>
                </li>
                <li>
                    <Icon name="simple-icons:signal" class="hover:text-blue" />
                    <a href={SIGNAL_URL} class="text-text">{USERNAMES.SIGNAL}</a
                    >
                </li>
            </ul>
        </div>
    </div>
</Layout>

<script>
    import { updateSong } from "@/components/index/CurrentSong.svelte";
    import { updateDonation } from "@/components/index/Donation.svelte";
    import donation from "@/stores/donation";
    import song from "@/stores/song";

    updateSong();
    updateDonation();

    const songImg = document.querySelector<HTMLImageElement>("#songImg")!;
    song.subscribe((song) => {
        songImg.src = song!.image;
        songImg.alt = song!.albumName || song!.name || "";
    });

    const donationImg =
        document.querySelector<HTMLImageElement>("#donationImg")!;
    donation.subscribe((donation) => {
        donationImg.src = donation!.avatar || "";
        donationImg.alt = donation!.name || "";
    });
</script>
