---
import "@/styles/blog.css";

import type { GetStaticPathsItem } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { marked } from "marked";
import sharp from "sharp";

import Heading from "@/components/Heading.astro";
import Icon from "@/components/Icon.astro";
import Layout from "@/Layout.astro";
import { formatDate, getPosts } from "@/utils/server";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getPosts(false);
    const paths: GetStaticPathsItem[] = posts.map((post) => {
        const { id } = post;
        return { params: { id }, props: post };
    });
    return paths;
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { data, id } = post;
const { hero = `/hero/${id}.webp`, heroAlt, published } = data;
const imageMeta = await sharp(`public${hero}`).metadata();

const title = marked(data.title);
const { Content } = await render(post);
---

<Layout {post} {imageMeta}>
    <div class="flex flex-col gap-1">
        <Image
            src={hero}
            alt={heroAlt ?? ""}
            class="mb-2 rounded-lg w-full object-cover aspect-[3/1]"
            loading="eager"
            width={1920}
            height={1080}
        />
        <Heading class="!font-bold" slug={false} set:html={title} />

        <div class="text-subtext0 text-sm stat">
            <Icon name="lucide:calendar" />
            {published ? formatDate(published) : "Draft"}
        </div>
    </div>

    <div class="flex flex-col gap-4 mt-4">
        <Content />
    </div>
</Layout>

<script>
    import "katex/dist/contrib/copy-tex.min.js";
</script>
