---
import type { Donation } from "@/api/donation";
import { DUMMY_DONATION } from "@/consts";
import redis from "@/redis";

let donation: Donation | null = null;
if (import.meta.env.PROD) {
    donation = await redis.get<Donation>("donation");
}
if (!donation) {
    donation = DUMMY_DONATION;
}

const { amount, avatar, currency, id, name } = donation!;
---

<span class="stat">
    <img src={avatar} alt={name} />
    <a
        href={`https://ko-fi.com/home/coffeeshop?txid=${id}`}
        class="text-text hover:!text-peach"
    >
        {name} ({currency}{amount})
    </a>
</span>
